
.contact{
    background-color: #191920;
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    align-items: center;  
    height: 75vh; 
}
.form{ 
    color: #fdfdfd; 
    background-color: #14141B; 
    width: 50%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #020114;
    border-radius: 10px;
}
.containerIconAni{
    display: flex;
    align-items: center;
}

.form label{
    font-size: 11px;
    padding: 1px 0;
}
.form input{   
    border: 1px solid #77b8f5;    
    background-color: transparent;
    color: #fdfdfd;   
    width: 60%;
    height: 5vh;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.form input:focus{   
    color: #fdfdfd;
    background-color: transparent;
}
.form textarea{    
    background-color: transparent;
    border: 1px solid #77b8f5;      
    color: rgba(255, 255, 255, 0.863);
    width: 60%;
    height: 12vh;
    border-radius: 4px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    resize: none;
}
.form textarea:focus{    
    color: #fdfdfd;
    background-color: transparent;

}

#inputSend{
    border-radius: 10px;
    height: 40px;
    width: 70%;
    background-color: transparent;
    color: #fdfdfd;
    border: 1px solid #77b8f5; 
    transition: all 0.5s ease-in-out;
    margin-right: 3%;
}
#inputSend:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 1vh  #A9D4FC) ;
}
.containerSubmit{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.socials{
    font-size: 1.3em;
    position: relative;
    margin: 5vh 0 5vh 0 ;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerSocials{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.socials a{
    display: block;
    font-size: 1em;
    color: #fdfdfdf3;
    transition: all 0.5s ease-in-out;
}
.socials a:hover{
    color: #A9D4FC;
    filter: drop-shadow(0 0 2vh  #A9D4FC) ;
    transform: scale(1.5);
}   

.envelopeIcon{
    font-size: 4.5vh;
    position: relative;
    left: -30px;
}

.containerSendMessage{
    color: #fdfdfd;
    width: 65%;
    height: 60%;
    background-color: #13141b;
    border: 2px solid #77b8f5;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    /* display: none;  */
}
.containerClose{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
    height: 30px;
    border: none;
    background-color: transparent;
}
.closeIconSendMessage{
    margin: 0 40px;
    font-size: 5vh;
    color: #fdfdfd;
}
.containerTFMessage{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTFMessage p{
    margin-right: 20px;
}
.openedEnvelope{
   font-size: 5vh;
    color: #fdfdfd; 
    top: -5px;
    margin: 0 20px;
}


@media only screen and (max-width: 992px) {
    .form{
        width: 70%;
    }
    .containerSubmit{
        width: 50%;
    }
    .containerSocials{
        width: 40%;
    }
    
}
@media only screen and (max-width: 470px) {
    .envelopeIcon{
        background-color: #13141b;
        padding: 0 5px;
        position: relative;
        transform:scale(1.4);
        left: 0px;
        top: -15px;
    }
    .containerIconAni{
        flex-direction: column;
    }
}
@media only screen and (max-width: 400px) {
    .containerSocials{
        position: relative;
        right: -15px;
    }
}