.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14141b;
    height: 15vh;
    z-index: 9999;

}
.containerNav {
	display: flex;
	align-items: center;
	color: #fdfdfd;
}

.nav{
	display: flex;
	gap: 80px;
	width: auto;
}
.nav a {
	text-decoration: none;
    color: #fdfdfd;
	transition: all 1s ease;
}
.nav a:hover{
    transform: scale(1.1);
	color: #D8F8FE;
}
.containerNav .nav-btn {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	display: none;
    color: #fdfdfd;
    font-size: 2em;
}

.containerNav div,
.nav {
	display: flex;
	align-items: center;
}
@media only screen and (max-width: 769px) {
	.containerNav{
		display: flex;
		justify-content: flex-end;
		width: 90%;
	}
	.containerNav .nav-btn {
		display: flex;
		opacity: 1;
       
	}

	.containerNav .nav {
		position: fixed;
		top: 0vh;
		right: -60vh;
		height: 100%;
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #141414b0;
		transition: 1s;
	}

	.containerNav .responsive_nav {
		transform: translateX(-60vh);
	}

	.nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 1rem;
	}

	.nav a {
		font-size: 1.2rem;
	}
}